@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

/* Base Styles */
@layer base {
    body {
        @apply bg-dark-900 text-gray-100 overflow-hidden;
        font-family: 'Inter', sans-serif;
    }
}

/* Components */
@layer components {

    /* Glassmorphism utility */
    .glass {
        @apply bg-dark-800/60 backdrop-blur-md border border-dark-600;
    }
}

/* Utilities */
@layer utilities {

    /* Custom scrollbars */
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        @apply bg-dark-900;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-dark-600 rounded-full;
    }
}